<h1>Specific question page</h1>

<h4>
  Question :
</h4>
<p>
  <%= @question.content %></p>
<h4>Post your solution here:</h4>
<div>
  <%= form_with(url: answers_path, model: @answer, local: true) do |f| %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <div>
      <%= f.text_area :content, placeholder: "Post your solution..." %>
    </div>
    <%= f.submit "Post" %>
  <% end %>
</div>

<%# Display question and answers %>
<h4>Solutions</h4>
<% @question.answers.each do |answer| %>
  <div id="answer">
    <p>Username :
      <%= username_from_email(answer.user.email) %></p>
    <p>Answer :
      <%= answer.content %></p>
    <p>Posted
      <%= time_ago_in_words(answer.created_at) %>
      ago.</p>
  </div>
<% end %>
