<% if user_signed_in? %>
  <p>
    <h3>Home section</h3>
    Features: 1.post a question; 2. display all questions posted by
    <b>all users</b>
    <p>
      hey
      <b><%= current_user.username %></b></p>
  </p>
  <%= form_with(model: @question, local: true) do |f| %>
    <div>
      <%= f.text_area :content, placeholder: "POST your question..." %>
    </div>
    <%= f.submit "Post" %>
  <% end %>

<% else %>
  New user? --><%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %><br/><br/>
  Already a user? --><%= link_to "Login", new_user_session_path, class: "navbar-link" %>
<% end %>
