<nav id='navbar-block'>
  <div id='heading-block'>
    <p>Quora App</p>
  </div>
  <div id='navbar-links-block'>
    <section id='section1'>
      <p><%= link_to "Home", root_path %></p>
      <% if user_signed_in? %>
        <p><%= link_to "My questions", user_questions_path %></p>
        <p><%= link_to "Profile", profile_path %></p>
        <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to "Sign up", new_user_registration_path %></p>
        <p><%= link_to "Log in", new_user_session_path %></p>
      <% end %>
    </section>
    <section id='section2'>
      <% if user_signed_in? %>
          <span><i class="fa fa-user" aria-hidden="true" style="font-size:120%"></i></span> &nbsp;
          <span>Signed in as <i><%= current_user.username %></i></span>
      <% end %>
    </section>
  </div>
</nav>
